<header>
  <div class="h-left"><a href ng-click="back()" class="back"><img src="images/svg/back-ico.svg" width="13" alt=""></a></div>
  <div class="h-center">Метод оплаты</div>
</header>
<div class="headerplaceholder"></div>
<div class="content">
  <div class="order-form">
    <form name="orderForm" novalidate role="form">
      <ul class="payment-methods">
        <li>
          <label ng-class="{checked : payment == 'card'}">
            <input type="radio" ng-model="payment" value="card" name="payment">
            <strong>Банковской картой</strong>
            <span>VISA или MasterCard</span>
          </label>
        </li>
        <li>
          <label ng-class="{checked : payment == 'cash'}">
            <input type="radio" name="payment" ng-model="payment" value="cash">
            <strong>Наличными курьеру</strong>
            <span>При получении заказа</span>
          </label>
        </li>
        <li>
          <label ng-class="{checked : payment == 'svyaznoi'}">
            <input type="radio" name="payment" ng-model="payment" value="svyaznoi">
            <strong>Через Евросеть / Связной</strong>
            <span>Оплата в любом салоне сети Евросеть или Связной</span>
          </label>
        </li>
        <li>
          <label ng-class="{checked : payment == 'bank'}">
            <input type="radio" name="payment" ng-model="payment" value="bank">
            <strong>Квитанцией Сбербанк</strong>
            <span>Оплата в любом доступном офисе Сбербанк</span>
          </label>
        </li>
      </ul>
      <div class="next-step">
        <a href ng-click="submit(orderForm, $event)" class="cart-btn" data-next="6">ПРОДОЛЖИТЬ</a>
      </div>
    </form>
  </div>
  <div class="customer-data" ng-if="customer">
    <table>
      <tr>
        <td class="td-right">Город:</td>
        <td class="td-left">{{customer.city}}</td>
      </tr>
      <tr>
        <td class="td-right">Страна:</td>
        <td class="td-left">{{customer.country}}</td>
      </tr>
      <tr>
        <td class="td-right">Покупатель:</td>
        <td class="td-left">{{customer.name}}</td>
      </tr>
      <tr>
        <td class="td-right">Эл. Почта:</td>
        <td class="td-left">{{customer.email}}</td>
      </tr>
      <tr>
        <td class="td-right">Моб. телефон:</td>
        <td class="td-left">{{customer.tel}}</td>
      </tr>
    </table>
    <p ng-if="customer.shipping == 'courier'">Доставка курьером от 2-х до 7-ми рабочих дней по адресу: <br> <strong>Россия, Москва ул. Крыжинапольского 14, кв 14, этаж 5, домофон 321 спросить Ивана</strong></p>
    <p ng-if="customer.shipping == 'self'">Самовывоз по адресу: <br> <strong>Россия, Москва Москва, метро Кропоткинская, Болотная набережная 7/3 шоурум 4doctors</strong></p>
  </div>
</div>