<header>
  <div class="h-left"><a href ng-click="back()" class="back"><img src="images/svg/back-ico.svg" width="13" alt=""></a></div>
  <div class="h-right">
    <div class="header-cart"><a ng-click="go('/cart')" href><img src="images/svg/cart-top.svg" width="26" alt=""></a></div>    
  </div>
  <div class="h-center">Понравилось</div>
</header>
<div class="headerplaceholder"></div>
<div class="content">  
  <div class="empty-wishlist">
    Вы можете отметить любую товар из каталог в список понравившихся Для этого, воспользуйтесь иконкой рядом с товаром.
  </div>
  <a class="cart-btn" ng-click="go('category/tops')" href>Вернуться в каталог</a>
</div>