<div class="homepage">
  <header>
    <div class="h-left"><a href="#" class="top-menu"><img src="images/svg/menu.svg" width="20" alt=""></a></div>
    <div class="h-right">
      <div class="header-cart"><a href="#"><img src="images/svg/cart-top.svg" width="26" alt=""></a></div>
      <div class="header-wishlist"><a href="#"><img src="images/svg/wishlist-top.svg" width="22" alt=""></a></div>
    </div>
    <div class="h-center">
      <div class="logo"><img src="images/svg/logo-top.svg" width="101" alt="4doctors"></div>
    </div>
  </header>
  <div class="content">
    <ul class="main-categ">
      <li class="main-categ__item">
        <a href ng-click="go('category/top')">
          <div class="main-categ-item__thumb">
            <img src="images/svg/tshirt-ico.svg" width="123" alt="">
          </div>
          <span class="main-cate-item__title">ТОПЫ</span>
          <span class="main-cate-item__count">567 позиций</span>
        </a>
      </li><li class="main-categ__item">
        <a href="#">
          <div class="main-categ-item__thumb">
            <img src="images/svg/pants.svg" width="86" alt="">
          </div>
          <span class="main-cate-item__title">Брюки</span>
          <span class="main-cate-item__count">120 позиций</span>
        </a>
      </li><li class="main-categ__item">
        <a href="#">
          <div class="main-categ-item__thumb">
            <img src="images/svg/bathrobe.svg" width="121" alt="">
          </div>
          <span class="main-cate-item__title">Халаты</span>
          <span class="main-cate-item__count">90 позиций</span>
        </a>
      </li><li class="main-categ__item main-categ-item__accessories">
        <a href="#">
          <div class="main-categ-item__thumb">
            <img src="images/svg/accessories.svg" width="75" alt="">
          </div>
          <span class="main-cate-item__title">Аксессуары</span>
          <span class="main-cate-item__count">20 позиций</span>
        </a>
      </li><li class="main-categ__item">
        <a href="#">
          <div class="main-categ-item__thumb">
            <img src="images/svg/hats.svg" width="85" alt="">
          </div>
          <span class="main-cate-item__title">Шапочки</span>
          <span class="main-cate-item__count">90 позиций</span>
        </a>
      </li><li class="main-categ__item">
        <a href="#">
          <div class="main-categ-item__thumb">
            <img src="images/svg/shoes.svg" width="96" alt="">
          </div>
          <span class="main-cate-item__title">Обувь</span>
          <span class="main-cate-item__count">90 позиций</span>
        </a>
      </li>
    </ul>
    <div class="text-align">
      <a href="#" class="btn btn-white">Скидки &amp; Акции</a>
    </div>
  </div>
</div>