<header>
  <div class="h-left"><a href ng-click="back()" class="back"><img src="images/svg/back-ico.svg" width="13" alt=""></a></div>
  <div class="h-right">
    <div class="header-cart"><a href="#"><img src="images/svg/cart-top.svg" width="26" alt=""> <i>2</i></a></div>
    <div class="header-wishlist"><a href="#"><img src="images/svg/wishlist-top.svg" width="22" alt=""></a></div>
  </div>
  <div class="h-center">84754C</div>
</header>
<div class="content">
  <div class="product-images-list">
    <ul>
      <li><img src="images/thumb-big.png" data-full="images/thumb-full.png" alt=""></li>
      <li><img src="images/thumb-big2.png" data-full="images/thumb-full.png" alt=""></li>
    </ul>
    <div class="social-links">
      <a href="#" class="social-icons social-icons__vk"></a>
      <a href="#" class="social-icons social-icons__call"></a>
      <a href="#" class="social-icons social-icons__fb"></a>
    </div>
    <a href="images/thumb-full.png" class="product-image-zoom"><img src="images/svg/zoom-ico.svg" alt=""></a>
  </div>
  <div class="product-descr">
    <div>Брэнд: &laquo;Infinity by Cherokee&raquo;</div>
    <div>Артикул: 84754C</div>
    <div>Цена: <strong>1 500 руб</strong></div>
    <a href="#" class="product-wishlist"></a>
  </div>
  <div class="product-filter filter-switcher">
    <div class="filter-title">ЦВЕТ: Выберите</div>
    <ul class="filter-color-list">
      <li><label class="filter-color-list__item"><span style="background: #BD10E0;"></span> <input type="radio" name="color"></label></li>
      <li><label class="filter-color-list__item"><span style="background: #7ED321;"></span> <input type="radio" name="color"></label></li>
      <li><label class="filter-color-list__item"><span style="background: #4A90E2;"></span> <input type="radio" name="color"></label></li>
    </ul>
  </div>
  <div class="filter-size filter-switcher">
    <div class="filter-title">Размер одежды: <span class="size-swithcer"><a href="#">RUS</a> | <a href="#" class="active">US</a></span></div>
    <ul class="filter-size-list">
      <li><label class="filter-size-list__item"><span>S</span> <input type="radio" name="size"></label></li>
      <li><label class="filter-size-list__item"><span>M</span> <input type="radio" name="size"></label></li>
      <li><label class="filter-size-list__item"><span>L</span> <input type="radio"  name="size" disabled="disabled"></label></li>
      <li><label class="filter-size-list__item"><span>XL</span> <input type="radio" disabled="disabled" name="size"></label></li>
      <li><label class="filter-size-list__item"><span>2XL</span> <input type="radio" name="size"></label></li>
      <li><label class="filter-size-list__item"><span>3XL</span> <input type="radio" name="size"></label></li>
    </ul>
  </div>
  <div class="product-add-btn-placeholder"></div>
  <div class="product-add-to-cart">
    <button class="add-to-cart-btn">ДОБАВИТЬ В КОРЗИНУ</button>
  </div>
</div>