<header>
  <div class="h-left"><a href ng-click="back()" class="back"><img src="images/svg/back-ico.svg" width="13" alt=""></a></div>
  <div class="h-right">
    <div class="header-cart"><a ng-click="go('/cart')" href><img src="images/svg/cart-top.svg" width="26" alt=""> <i>2</i></a></div>
    <update-wish-list-status inwishlist="inwishlist"></update-wish-list-status>
  </div>
  <div class="h-center">{{itemDetail.id}}</div>
</header>
<div class="headerplaceholder"></div>
<div class="content">
  <product-images images="itemDetail.imageUrl" zoom="itemDetail.fullImageUrl"></product-images>  
  <div class="product-descr">
    <div>Брэнд: &laquo;{{itemDetail.brand}}&raquo;</div>
    <div>Артикул: {{itemDetail.id}}</div>
    <div>Цена: <strong>{{itemDetail.price}} руб</strong></div>
    <a href="#" class="product-wishlist" ng-class="{'product-wishlist__active' : itemDetail.inWishlist}" ng-click="itemDetail.inWishlist ? removeFromWishlist($event,item) : addToWishlist($event,item)"></a>
  </div>
  <div class="product-filter filter-switcher" ng-show="itemDetail.colors">
    <div class="filter-title">ЦВЕТ: Выберите</div>
    <ul class="filter-color-list">
      <li ng-repeat="color in itemDetail.colors"><label class="filter-color-list__item" ng-class="{checked: Color == color.value}"><span style="background: {{color.code}};"></span> <input type="radio" ng-model="$parent.Color" value="{{color.value}}" name="color"></label></li>
    </ul>
  </div>
  <div class="filter-size filter-switcher">
    <div class="filter-title">Размер одежды: <span class="size-swithcer"><a ng-click="lang='ru'" ng-class="{active : lang == 'ru'}" href>RUS</a> | <a ng-click="lang='en'" href ng-class="{active : lang == 'en'}">US</a></span></div>
    <ul class="filter-size-list" >
      <li ng-repeat="size in itemDetail.sizes"><label class="filter-size-list__item" ng-class="{checked: (Size == size.size), disabled: !size.inStock}"><span>{{getSize(size.size.toLowerCase(), lang) | uppercase}}</span> <input type="radio" ng-disabled="{{!size.inStock}}" ng-model="$parent.Size" value="{{size.size}}" name="size"></label></li>
    </ul>
  </div>
  <div class="product-add-btn-placeholder"></div>
  <div class="product-add-to-cart">
    <button class="add-to-cart-btn" ng-click="updateCart()">ДОБАВИТЬ В КОРЗИНУ</button>
  </div>
</div>